
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');



a{
    color :black !important
}

.brand-logo
{
    font-family: cursive;
}
.mycard{
    margin-top: 100px;
    margin-left: 30rem;
  }

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
  }
  
.home
{
  margin-top: 100px;
    margin-left: 30rem;
}
  
.home-card{
  max-width: 550px;
  height: max-content;
  margin: 26px auto;
  
}
